body{
    background-color: black;
    color: white; 
    padding-top:130px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

nav {
    padding: 0%;
}

.nav_div {
    border: 25px; 
    margin-top: 0%; 
    padding-top: 0%;
}

#footer_id  {
    border-color: grey; 
    text-align: center;
    margin-bottom: 7%; 
}

#footer_id div:nth-child(1) {
    margin-top: 4.5%;
    margin-bottom: 2.5%; 
    font-size: 200%;
}
#footer_id div:nth-child(2) {
    height: 150%;
}

#image1, #image2, #image3 {
    height: 45px;
}

#image1 {
    position: absolute;
    width: 7%;
    left: 38%;
    margin-right: 0.5%;
}

#image2 {
    margin-left: 7%;
    width: 7%;
    padding-right: 2.5%;
    margin-right: 1%;
}
    
#image3 {
    width: 5%;
}

#footer_id div:nth-child(3) {
    margin-top: 2%;
    font-size: 150%;
}
@media (max-width: 600px) {
    #image1, #image2, #image3 {
        width: 15%;
    }
    #image1 {
        left: 20%;
        margin-right: 1.5%;
    }
}
@media (max-width: 450px) {
    #image1, #image2, #image3 {
        width: 20%;
    }
    #image1 {
        left: 10%;
        margin-right: 1.5%;
    }
}
@media (max-width: 265px) {
    body{
        padding-top: 155px;
        background-color: green;
    }
    #image1, #image2, #image3 {
        width: 15%;
    }  
    #image1 {
        left:20%;
       }
}
a {
    text-decoration: none;
}

