<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div style="color: red;
    background-color: #d1e7dd;
    border-color: #badbcc; display: block;">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
<form class="box" action="{{ url_for('useroradmin') }}" method="post">
  <h1>Login</h1>
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="" value="Login">
</form>


  </body>
</html>
